### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

### Maven template
target/
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


.allure
allure-results

# IntelliJ
*.iws
*.iml
out/
.idea_modules/
.idea/
.project/
etc/application.custom.properties
